body {
	height: 908px;
    background: linear-gradient(to bottom, #3399ff 0%, #cc99ff 100%);
}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
#glaw {
	font-family: 'Rubik One', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #D1DBDF 33%, #CEDFDA 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}

.scale {
    transition: 1s; /* Время эффекта */
   }
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }